@import "../../app.component.scss";
.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.header {
    padding: .8rem $main-padding;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(227, 244, 252);
    background-clip: padding-box;
}

.body {
    padding: 0rem $main-padding;
    padding-bottom: $main-padding;
}
